@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: rgba(255, 255, 255, 0.80);
font-size: 16px;
line-height: 150%; /* 24px */
letter-spacing: -0.32px;
	font-family: "Host Grotesk", sans-serif;
	background-color: #151513;
	overflow-x: hidden;
}

.container {
	width: 100%;
	height: 100%;
}

.wrapper {
	padding-inline: 2rem;
	max-width: 1440px;
	width: 100%;
	margin-inline: auto;
}

[data-text-anim] {
  visibility: hidden;
}

.duplicate-char {
  position: absolute;
  inset: 0;
  transform: translateY(100%);
}

.preloader-mask, 
.preloader-progress-bar,
.preloader-bg {
	position: fixed;
	top: 0;
	left: 0;
	height: 100svh;
	width: 100%;
	pointer-events: none;
}

.preloader-mask {
	z-index: 100;
	background-color: #1C1917;
  mask: linear-gradient(white, white), url('https://ik.imagekit.io/kg2nszxjp/ironstride-preloader/preloader-mask.svg') center/40% no-repeat;
  mask-composite: subtract; 
}

.preloader-progress-bar {
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: #2D2925;
}

.preloader-bg {
  background-color: #fff;
	transform-origin: left;
	transform: scaleX(0.2);
}

.preloader-logo {
	display: flex;
	width: 100%;
	height: 100%;
	
	p {
		margin: auto;
		text-align: center;
		mix-blend-mode: difference;
		font-size: 4rem;
		color: #fff;
		font-weight: 500;
		line-height: 100%;
	}
}



button {
	display: flex;
	align-items: center;
	gap: 6px;
	padding: 4px 4px 4px 16px;
	border-radius: 46px;
	border: none;
	outline: none;
	
	.btn-icon {
		width: 34px;
		height: 34px;
		background: #25201C;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
	}
}

.header {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 200px;
	z-index: 10;
	background: linear-gradient(180deg, #25201c 0%, rgba(37, 32, 28, 0) 100%);
}

.header .wrapper {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	align-items: start;
	gap: 24px
	width: 100%;
	margin-top: 24px;
	margin-inline: auto;
}

.logo {
	margin-right: auto;
}

.tagline {
	font-weight: 700;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 4px;
	align-items: center;
	justify-content: center;
	p {
	max-width: 430px;
	}
	.divider {
		width: 1px;
		height: 40px;
		background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
	}
}

.menu-button {
	margin-left: auto;
}

.hero-section {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: relative;
	height: 100svh;
	border-radius: 3rem;
	overflow: hidden;
}

.hero-img {
	position: absolute;
	inset: 0;
	z-index: -10;
	
	img {
		will-change: transform;
		transform: scale(1.2);
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.hero-content {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	width: 100%;
}

.content-main {
	.sub-title {
		max-width: 240px;
		color: #FFF;
		font-size: 22px;
		font-weight: 700;
		line-height: 130%;
		letter-spacing: -0.66px;
	}
	
	h1 {
		margin-left: -12px;
/* 		text-shadow: 0 4px 53.1px rgba(38, 35, 35, 0.26); */
		font-size: clamp(5rem, 12.752vw + 2.21rem, 13.688rem);
		font-weight: 600;
		line-height: 90%; /* 197.1px */
		letter-spacing: -8.76px;
		background: linear-gradient(180deg, #FFF 17.73%, #F7CFB4 92.44%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
	}
}

.header-char {
	background: linear-gradient(180deg, #FFF 17.73%, #F7CFB4 92.44%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.content-cta {
	position: relative;
	max-width: 266px;
	border-radius: 12px;
	background: linear-gradient(180deg, #FFE5CF 0%, rgba(255, 191, 136, 0.90) 100%);
	box-shadow: 0 4px 54px 0 #2B1D10;
	overflow: hidden;
	
	.cta-marquee {
		background: #231A13;
		display: flex;
		gap: 8px;
		color: #FFCBA8;
		font-size: 20px;
		font-weight: 600;
		letter-spacing: -0.6px;
		margin-top: 10px;
	}
	
	.marquee-group {
		align-items: center;
		white-space: nowrap;
		width: max-content;
		display: flex;
		gap: 8px;
		padding-block: 10px;
		animation: scroll 30s linear infinite;
	}
	
	.img-wrapper {
		margin: 10px;
		img { 
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 10px;
		}
	}
		
	.register-button {
		position: absolute;
		bottom: 20px;
		left: 50%;
		transform: translateX(-50%);
		width: max-content;
		background: #FF983F;
	}
}

@keyframes scroll {
	to {
		transform: translateX(calc(-100% - 8px));
	}
}